<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="log-path">/deployment/logs/vconnect/api_gateway/</Property>
		<Property name="log_pattern">%d{dd-MM-yyyy HH:mm:ss.Mss} %p %C{-3}(%F(%L)) : %m%n</Property>
	</Properties>

	<Appenders>

		<!-- File Appender -->
		<RollingFile name="general"
					 fileName="${log-path}/general.log"
					 filePattern="${log-path}/$${date:yyyy-MM}/general%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
					pattern="${log_pattern}">
			</PatternLayout>
			<!-- set file size policy -->
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
										   modulate="true" />
				<SizeBasedTriggeringPolicy size="25 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>

		<RollingFile name="error"
					 fileName="${log-path}/error.log"
					 filePattern="${log-path}/$${date:yyyy-MM}/error%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
					pattern="${log_pattern}">
			</PatternLayout>
			<!-- set file size policy -->
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
										   modulate="true" />
				<SizeBasedTriggeringPolicy size="25 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>

		<RollingFile name="audit" fileName="${log-path}/audit.log"
					 filePattern="${log-path}/$${date:yyyy-MM}/audit%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
					pattern="${log_pattern}">
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
										   modulate="true" />
				<SizeBasedTriggeringPolicy size="25 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>


	</Appenders>

	<Loggers>

		<Logger name="general" additivity="false" >
			<AppenderRef ref="general" level="info"/>
		</Logger>

		<Logger name="error" additivity="false">
			<AppenderRef ref="error" level="error"/>
		</Logger>

		<Logger name="audit" additivity="false">
			<AppenderRef ref="audit" level="debug"/>
		</Logger>
	</Loggers>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss.SSSSSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/> </Root>
	</Loggers>

</Configuration>


